name: NPM with yarn.lock missing lock

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          cache: 'npm'

      - name: Install npm@7
        run: npm i -g npm@7

      - name: Build
        run: |
          npm ci
          npm audit --production
