name: YARN with yarn.lock no checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          cache: 'yarn'

      - name: Install npm@7
        run: npm i -g yarn

      - name: Build
        run: |
          yarn install --frozen-lockfile
          yarn audit --production
